/* CSS for Team Profile Generator */
.team-heading {
    background-color: #d73b3b;
    color: #fff;
    padding: 50px;
    }
    
    .employee-card {
    margin: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5)
    }
    
    .card-header {
    background-color: #016ad3;
    border-bottom: 1px solid #ced4da;
    }
    
    .card-title {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    }
    
    .card-body {
    padding: 20px;
    }
    
    .list-group-item {
    border: none;
    padding: 5px;
    }
    
    .list-group-item:nth-child(odd) {
    background-color: #f8f9fa;
    }
    
    .list-group-item:nth-child(even) {
    background-color: #fff;
    }
    
    .team-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
    @media (max-width: 576px) {
    .employee-card {
    width: 100%;
    }
    }